.sectionGeneral{
    align-items: center;
    justify-content: center;
    display: flex;
    flex: wrap;

    background: #F09819;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EDDE5D, #F09819);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EDDE5D, #F09819); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    
    min-height: 100%;
}

h2{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1rem;
    font-weight: bolder;
}

.sectionImagen{
    align-items: center;
    justify-content: center;
    display: flex;
    flex: wrap;

    padding-top: 2rem;
    padding-bottom: 2rem;
}

img{
    width: 8rem;
}

.sectionForm{
    align-items: center;
    justify-content: center;
    display: block;
    flex: wrap;

    border-radius: 2rem;

    padding: 2rem;
    margin-top: 4rem;
    margin-bottom: 4rem;

    background-color: rgba(255, 255, 255, 0.4);
}

.sectionMat{
    align-content: center;
    justify-content: center;
    display: flex;
    flex: wrap;
}

.sectionButton{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

mat-form-field{
    width: 30rem;
}
