<section class="sectionGeneral">
    <form #formUser="ngForm" (ngSubmit)="onSubmit()"  novalidate >
        <section class="sectionForm">
            <section>
                <h2>login</h2>
            </section>
    
            <section class="sectionImagen">
                <img src="./assets/maracuya.png">
            </section>
    
            <section class="sectionMat">
                <mat-form-field class="example-form-field">
                    <mat-label>Firstname</mat-label>
                    <input matInput  type="text" id="firstname" name="firstname" [(ngModel)] ="firstname" required>
                    <button matSuffix mat-icon-button aria-label="Clear" type="text" >
                        <mat-icon>close</mat-icon>
                    </button>
                    <mat-error *ngIf="formUser.controls['firstname'].hasError('required')">Firstname is required</mat-error>
                </mat-form-field>
                
            </section>
    
            <section class="sectionMat">
                <mat-form-field class="example-form-field">
                    <mat-label>Contraseña</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" type="text" id="password" name="password" [(ngModel)] ="password" required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"  type="text" id="password">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="formUser.controls['password'].hasError('required')">Password is required</mat-error>
                </mat-form-field>            
            </section>
    
            <section class="sectionButton">
                <button mat-raised-button color="primary" type="submit" >Login</button>
            </section>         
        </section>
    </form>
</section>

<!-- <h2>Iniciar sesion</h2>
<section class="container-sm">
    <section class="col-3">
        <section class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username">
        </section>
    <section class="form-group">
        <label for="password">Password:</label>
        <input type="text" class="form-control" id="password">
    </section>
        <input type="button" class="btn btn-primary" (click)="login()" value="Log in">
    </section>
</section> -->
