.sectionGeneral{
    align-items: center;
    justify-content: center;
    display: flex;
    flex: wrap;
}

h2{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1rem;
    font-weight: bolder;

}
.sectionImagen{
    align-items: center;
    justify-content: center;
    display: flex;
    flex: wrap;

    padding-top: 2rem;
    padding-bottom: 2rem;
}

img{
    width: 8rem;
}

.sectionForm{
    align-items: center;
    justify-content: center;
    display: block;
    flex: wrap;

    margin-top: 3rem;
    margin-bottom: 3rem;
}

.sectionButton{
    text-align: center;
}

.sectionMat{
    width: 30rem;
}

mat-form-field{
    width: 30rem;
}