<section class="sectionGeneral">
    <section class="sectionForm">
        <section>
            <h2>registro</h2>        
        </section>
        <section class="sectionImagen">
            <img src="./assets/fresa.png">
        </section>
        <section class="sectionMat">
            <mat-form-field class="example-form-field">
                <mat-label>Nombre</mat-label>
                <input matInput type="text" id="nombre">
                <button matSuffix mat-icon-button aria-label="Clear" type="text" id="nombre">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>            
        </section>

        <section class="sectionMat">
            <mat-form-field class="example-form-field">
                <mat-label>Apellido</mat-label>
                <input matInput type="text" id="apellido">
                <button matSuffix mat-icon-button aria-label="Clear" type="text" id="apellido">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </section>

        <section class="sectionMat">
            <mat-form-field class="example-form-field">
                <mat-label>Correo</mat-label>
                <input matInput type="text" id="correo">
                <button matSuffix mat-icon-button aria-label="Clear" type="text" id="correo">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>            
        </section>

        <section class="sectionMat">
            <mat-form-field class="example-form-field">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"  type="text" id="password">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>            
        </section>

        <section class="sectionButton">
            <button mat-raised-button color="primary" type="button" (click)="login()" value="Log in">Enviar</button>
        </section>         
    </section>
</section>


<!-- <h2 class="text-center">Registro de Usuarios</h2>
<section class="container">
    <form (ngSubmit)="onSubmit()">
        <section class="form-group m-2">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="datos.name" name="name">
        </section>

        <section class="form-group m-2">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" [(ngModel)]="datos.username" name="username">
        </section>
        <section class="form-group m-2">
            <input type="submit" class="btn btn-success" value="Submit">
        </section>
    </form>
</section> -->