.sectionGeneral{
    align-items: center;
    justify-content: center;
    display: flex;
    flex: wrap;
}

.sectionTable{
    margin-top: 4rem;
    margin-bottom: 4rem;
}

h2{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-weight: bolder;
    padding-top: 2rem;
    padding-bottom: 2rem;
}


thead{
    background-color: rgb(255, 219, 127);
    border-bottom: 2px solid black;
}

th{
    text-align: center;
}

td{
    text-align: center;
}