<section class="sectionGeneral">
    <section class="sectionTable">
        <h2 class="text-center">Lista de Usuarios</h2>

        <section class="sectionButton">
            <button mat-raised-button color="primary" type="submit" value="Add" (click)="Add()">Add</button>
        </section> 

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>TITLE</th>
                    <th>FIRSTNAME</th>
                    <th>LASTNAME</th>
                    <th>EMAIL</th>
                    <th>ROLE</th>
                    <th>OPTIONS</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of lista">
                    <td>{{ item.id }}</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.firstname }}</td>
                    <td>{{ item.lastname }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.role }}</td>
                    <td>
                        <section class="sectionButton2">
                            <section class="buttons">
                                <a routerLink="editar/{{item.id}}" class="btn btn-primary">Edit</a>
                            </section>
                            <section class="buttons">
                                <button mat-raised-button color="accent" (click)="Eliminar(item.id)">Delete</button>
                            </section>
                        </section>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>    
</section>

